<% if @feed_items.any?%>
<table class="microposts">
<%= render :partial=>'shared/feed_item',:collection =>@feed_items%>

</table>
<div class="digg_pagination">
 <%= will_paginate @feed_items%>
</div>


<%end%>