.bg{
background-image: url("bg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}

.container{
margin-left: 11em;
}

header{
	padding-top: 20px;

}
header img{
	padding: 1em;
	border: 4px solid white;
	background-color: #000000;
}

section{
	margin-top: 3.5em;
	font-size: 120%;
	padding: 20px;
	background-color: white;
	color: black; 
	width:950px;
}
a{
	color:red;
	text-decoration: none;
	
	
}
a:hover{

}
a:visited{
	
}

nav{
float: right;
background-color: black	;
padding:0 0.7em;
white-space: nowrap;
margin-right: 11.5em;
}
 nav ul{
	margin:0;
	padding: 0;


}
nav ul li{
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	padding: 1em 0.5em ;
	

}

nav ul li a{
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding-left: 1em;
	padding-right: 1em;
	color:blue;

}
 nav ul li a:hover{
	color:blue;
text-decoration: underline;
}
nav ul li a:visited{
	color:red;
	background-color: white;
}
a.signup_button{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color:#fff;
	background: #000000;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}
a.signup_button:hover{
	text-decoration: underline;
	color:red;
}
.round{
	-moz-border-radius: 10px;
	-webkit--border-radius: 10px;
	border-radius: 10px;
}

footer nav{
float: none;
}
footer{
	text-align: center;
	margin-top: 10px;
	width:950px;
	margin-left: auto;
	margin-right: auto;
}

table.profile{
	width: 100%;
	margin-bottom: 0;
}
td.main{
	width: 70%;
	padding: 1em; 
}
td.sidebar{
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #000000;
color:white;

}

.profile img.gravatar{
border:4px solid #000000;
margin-bottom: -15px;

}



